@{
    Layout = null;
}
@if (TempData.ContainsKey("AlertMessage"))
{
	bool success = Convert.ToBoolean(TempData["AlertType"]);
	var status = success ? "success" : "danger";
	<div class="alert alert-dismissible alert-@status d-flex align-items-center mb-2">

		@if (success)
		{
			<i class="ki-duotone ki-shield-tick fs-2hx text-@status me-4"><span class="path1"></span><span class="path2"></span></i>
		}
		else
		{
			<i class="ki-duotone ki-shield-cross fs-2hx text-@status me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
		}
		<span class="fs-5">@TempData["AlertMessage"]</span>
		<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
			<i class="ki-duotone ki-cross fs-1 text-@status"><span class="path1"></span><span class="path2"></span></i>
		</button>
	</div>
	TempData.Clear();
}