<noscript>
    <style type="text/css">
        .app-root {
            display: none !important;
        }
    </style>
    <div class="alert alert-primary w-100 p-5 d-flex justify-content-between">
        <div class="d-flex flex-column flex-sm-row">
            <i class="ki-duotone ki-notification-bing fs-2hx me-4 mb-sm-0 text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <div class="d-flex flex-column pe-0 pe-sm-10 text-primary">
                <h4 class="mb-2 text-primary">JavsScript is disabled</h4>
                <span>You don't have javascript enabled.  Good luck with that.</span>
            </div>
        </div>
        <div>
            <a class="btn btn-sm btn-dark publish-all-ajax-link" href="https://www.enablejavascript.io/" target="_blank">
                Instructions to enable JavaScript in your web browser
            </a>
        </div>
    </div>
</noscript>