@{
    Layout = null;
}
<div class="text-center m-5 d-flex align-items-center justify-content-center">
    <div>
        <img src="/assets/images/not-data-found.svg" alt="no data found image" />
        <h5 class="text-muted">@Resources.NoResult</h5>
    </div>
</div>
